# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules
/functions/node_modules

# podfiles
/ios/Pods

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#PLIST
/ios/presentSenseApp/GoogleService-Info.plist

#xcode user data garbage
# /ios/presentSenseApp.xcworkspace/xcuserdata/

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# OSX
# we don't want this garbage
.DS_Store

#no android assets
/android/app/src/main/assets/fonts
